.navbar {
  .navbar-brand {
    color: #2F2F2F;
    font-family: 'Alex Brush', cursive;
    font-size: xx-large;
  }

  .nav-link {
    color: #2F2F2F;
    font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  }
}
