<nav class="navbar navbar-expand-lg navbar-default fixed-top border-3 border-top border-primary navbar-dark">
  <!-- navigation start -->
  <div class="container">

    <a class="navbar-brand" href="/"><img src="/images/logo.svg"
                                          alt=""></a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="icon-bar top-bar mt-0"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
  </div>
</nav>

<div class="hero"></div>

<!--<div-->
<!--  style="background: url('/images/hero-slide.jpg'); background-size: cover; background-repeat: no-repeat; background-position: top left;">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12 col-md-12 col-12">-->
<!--        <div class="pt-17 pb-13 pt-lg-19 pb-lg-19text-light">-->
<!--          <h1 class="display-3 text-white mb-3 lh-1 text-center">-->
<!--            Building software and leading teams.-->
<!--          </h1>-->
<!--          &lt;!&ndash;                        <p class="px-xl-18 px-md-10 mb-5 lead">&ndash;&gt;-->
<!--          &lt;!&ndash;                            Join our Coach community of like-minded individuals. Get your ticket to the 2021 event.&ndash;&gt;-->
<!--          &lt;!&ndash;                        </p>&ndash;&gt;-->
<!--          &lt;!&ndash;                        <a href="pages/signin.html" class="btn btn-primary btn-lg">Get Ticket</a>&ndash;&gt;-->

<!--          &lt;!&ndash;                        <img src="../assets/images/profile.png" alt="avatar" class="rounded-circle avatar-xxl mx-auto mb-4">&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--hero section-->

<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Follow me on</h3>
      <ul>
        <li><a href="https://linkedin.com/in/enoel19" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
        <li><a href="https://twitter.com/etiennenoel" target="_blank"><i class="bi bi-twitter-x"></i> &#64;etiennenoel</a></li>
      </ul>

      <h3>Personal projects</h3>
      <ul>
        <li><a href="https://github.com/magieno/pristine-ts" target="_blank">Pristine (NodeJS Framework)</a></li>
      </ul>

      <h3>Conférence</h3>
      <ul>
        <li>25 Septembre 2023 - Conférence Cégep Saint-Jean
          <ul>
            <li><a href="https://app.sli.do/event/uy7iatyL1wVpZrtCTUCrom/live/questions?clusterId=eu1" target="_blank">Questions interactives</a></li>
            <li><a href="https://forms.gle/n8W8THi7nCVKsACs9" target="_blank">Formulaire de feedback</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
