<app-header></app-header>

<!--<div class="hero container-fluid d-flex justify-content-center flex-column">-->
<!--  <h1 class="display-5 display-md-3">Empowering Teams,<br>Delivering Excellence</h1>-->
<!--</div>-->



<div class="container mt-4">

  <div class="row mt-4 d-flex align-items-center">
    <div class="col-12 col-re col-md-4 d-flex justify-content-center">
      <img src="/images/profile.png" class="img-fluid" style="width: 300px;">
    </div>
    <div class="col-12 col-md-8">
      <h2 class="display-4 text-dark" style="font-weight: bold;">Etienne Noël</h2>

      <h3 style="font-weight: 300;">Web AI Platform Lead - Google Chrome</h3>

      <p>I'm an AI Engineering manager in San Francisco, leading Google Chrome's Web AI Platform:</p>
      <div>
        <ul>
          <li>
            <a href="https://developer.chrome.com/docs/ai/built-in">Built-In
              AI APIs</a>
          </li>
          <li>WebNN</li>
          <li>Infrastructure & Model quality for On-Device Gemini Nano</li>
        </ul>

        <div class="d-flex mt-4 gap-2" style="height: 45px;">
          <a routerLink="contact-me" class="btn btn-dark d-block flex-grow-1">Want to chat?</a>
<!--          <button class="btn btn-outline-primary d-block">About me</button>-->
        </div>
      </div>
<!--      <p>Just before, I was the Software Engineering Manager for Storage in Google Chrome (File, FileSystemHandle,-->
<!--        IndexedDB, Cache Storage, WebSQL, etc.).</p>-->

<!--      <p>Prior, I worked as a Software Engineering Manager for <a href="https://www.appdirect.com/">AppDirect</a> where-->
<!--        I led the Invoicing, Payments and Customer Balance teams.</p>-->

<!--      <p>From 2017-2021, I was Chief Technology Officer of <a href="https://boostmi.com" rel="noreferrer">Boostmi-->
<!--        Technologies Inc.</a> where I led an amazing team of engineers into building a robust Roadside Assistance Cloud-->
<!--        Platform, Mobile and Web Applications and AI infrastructure.</p>-->

<!--      <p>Early in my career, I led a team at <a href="https://cyme.com">CYME Eaton</a> where we built the CYME Server-->
<!--        and accompanying Web Applications.</p>-->
    </div>

  </div>

  <hr class="mt-5">

  <div class="row mt-5">
    <div class="col-12 col-lg-4">
      <h2 class="mb-4">Projects</h2>

      <ul>
        <li><a href="https://ai.etiennenoel.com">Built-In AI Playground</a></li>
        <li><a href="https://github.com/microsoft/tsyringe">TSyringe (maintainer)</a></li>
      </ul>
    </div>
<!--    <div class="col-12 col-lg-8">-->
<!--      <div class="col-12 col-lg-5">-->
<!--      <h2 class="mb-4">Latest Articles</h2>-->

<!--      <div class="card shadow">-->
<!--        <div class="card-body p-0">-->
<!--          <div>-->
<!--            <img class="img-fluid" src="images/neural_networks.jpeg" alt="Neural Networks"></div>-->

<!--          <div class="p-4">-->
<!--            <h3 class="h4 mb-3" style="font-weight: bold">What are Neural Networks?</h3>-->
<!--            <p>Building a neural network that can "predict" if your child will want to play outside? Step-by-step, let's figure out how they work using... <a class="stretched-link" routerLink="">Read more</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-footer p-4 text-muted bg-white">-->
<!--          <i class="bi bi-calendar3-event"></i> May 7, 2025-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    </div>-->
  </div>

<!--  <div class="row mt-4">-->
<!--    <div class="col-12 order-2 col-md-7">-->
<!--      <h2 class="mb-4">About Me</h2>-->

<!--      <p>I'm an AI Engineering manager in San Francisco, leading Google Chrome's Web AI Platform:</p>-->
<!--      <div>-->
<!--        <ul>-->
<!--          <li>-->
<!--            <a href="https://developer.chrome.com/docs/ai/built-in">Built-In-->
<!--              AI APIs</a>-->
<!--          </li>-->
<!--          <li>WebNN</li>-->
<!--          <li>Infrastructure & Model quality for On-Device Gemini Nano</li>-->
<!--        </ul>-->

<!--      </div>-->
<!--      <p>Just before, I was the Software Engineering Manager for Storage in Google Chrome (File, FileSystemHandle,-->
<!--        IndexedDB, Cache Storage, WebSQL, etc.).</p>-->

<!--      <p>Prior, I worked as a Software Engineering Manager for <a href="https://www.appdirect.com/">AppDirect</a> where-->
<!--        I led the Invoicing, Payments and Customer Balance teams.</p>-->

<!--      <p>From 2017-2021, I was Chief Technology Officer of <a href="https://boostmi.com" rel="noreferrer">Boostmi-->
<!--        Technologies Inc.</a> where I led an amazing team of engineers into building a robust Roadside Assistance Cloud-->
<!--        Platform, Mobile and Web Applications and AI infrastructure.</p>-->

<!--      <p>Early in my career, I led a team at <a href="https://cyme.com">CYME Eaton</a> where we built the CYME Server-->
<!--        and accompanying Web Applications.</p>-->
<!--    </div>-->
<!--    <div class="col-12 order-1 order-md-2 col-re col-md-4 offset-md-1 d-flex justify-content-center flex-column">-->
<!--      <img src="/images/profile.png" class="img-fluid">-->
<!--    </div>-->
<!--  </div>-->
</div>

<!--<ul>-->
<!--  <li><a href="https://linkedin.com/in/enoel19" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a></li>-->
<!--  <li><a href="https://twitter.com/etiennenoel" target="_blank"><i class="bi bi-twitter-x"></i> &#64;etiennenoel</a></li>-->
<!--</ul>-->

<!--<h3>Personal projects</h3>-->
<!--<ul>-->
<!--  <li><a href="https://github.com/magieno/pristine-ts" target="_blank">Pristine (NodeJS Framework)</a></li>-->
<!--</ul>-->

<!--<h3>Conférence</h3>-->
<!--<ul>-->
<!--  <li>25 Septembre 2023 - Conférence Cégep Saint-Jean-->
<!--    <ul>-->
<!--      <li><a href="https://app.sli.do/event/uy7iatyL1wVpZrtCTUCrom/live/questions?clusterId=eu1" target="_blank">Questions interactives</a></li>-->
<!--      <li><a href="https://forms.gle/n8W8THi7nCVKsACs9" target="_blank">Formulaire de feedback</a></li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->
