
.hero {
  @media only screen and (max-width: 479px) {
    height: 250px;
  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    height: 280px;
  }

  height: 340px;
  background: url('/images/hero-slide.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;

  h1 {
    font-family: 'Arial Black';
    //font-size: 90pt;
    color: white;
    text-align: center;
  }
}
