<div class="relative inline-block group">
  <span class="relative z-10">{{ text }}</span>
  <span class="absolute top-0 left-0 -z-10 w-full h-full text-blue-500 opacity-0 group-hover:opacity-70 group-hover:translate-x-[2px] transition-all duration-100 select-none">
    {{ text }}
  </span>
  <span class="absolute top-0 left-0 -z-10 w-full h-full text-purple-500 opacity-0 group-hover:opacity-70 group-hover:-translate-x-[2px] transition-all duration-100 select-none">
    {{ text }}
  </span>
</div>
